@import url(font-awesome.min.css);
/*STRUCTURE CONTENT*/
html {
    font-size: 15px;
    font-family: 'Maitree', serif;
    background: #fff;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    color: #8e9ca5;
    font-family: 'Maitree', serif;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    background: #F3F1F2;
    font-family: FontAwesome;

}

div {
    display: block;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
  }

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0 0 20px;
    line-height: normal;
}

hr {
    border: none;
    border-bottom: 1px solid #777;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #69acc7;
}

address {
    font-style: normal;
}

p {
    margin-top: 0;
}

/*video background*/
 { -webkit-box-sizing: border-box; box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* video ifram youtube*/
.video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
    margin 10px;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
/* Banner */

    #banner {
        display: -ms-flexbox;
        -ms-flex-pack: center;
        -ms-flex-align: center;
        padding: 8em 0 6em 0;
        -moz-align-items: center;
        -webkit-align-items: center;
        -ms-align-items: center;
        align-items: center;
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        border-top: 0;
        min-height: 100vh;
        height: 100vh;
        position: relative;
        text-align: center;
        overflow: hidden;
    }

        #banner .inner {
            position: absolute;
            top: 0; right: 0;
            width: 100%;
            background: rgba(0,0,0,0.3);
            color: #fff;
            padding: 22rem; 
            font-family: 'Maitree', serif;
        }

        #banner h1 {
            font-size: 8em;
            line-height: 1.1;
            color: rgba(255, 255, 255, 0.75);
            text-transform: none;          
            text-shadow: 3px 3px #000;
        }

        #banner p {
            color: rgba(255, 255, 255, 0.85);
            font-size: 1.75em;
        }

    @-moz-keyframes more {
        0% {
            bottom: -3em;
        }

        100% {
            bottom: 2em;
        }
    }

    @-webkit-keyframes more {
        0% {
            bottom: -3em;
        }

        100% {
            bottom: 2em;
        }
    }

    @-ms-keyframes more {
        0% {
            bottom: -3em;
        }

        100% {
            bottom: 2em;
        }
    }

    @keyframes more {
        0% {
            bottom: -3em;
        }

        100% {
            bottom: 2em;
        }
    }

        #banner .more {
            -moz-transition: height 0.2s ease;
            -webkit-transition: height 0.2s ease;
            -ms-transition: height 0.2s ease;
            transition: height 0.2s ease;
            -moz-animation: more 0.75s ease-out 3s forwards;
            -webkit-animation: more 0.75s ease-out 3s forwards;
            -ms-animation: more 0.75s ease-out 3s forwards;
            animation: more 0.75s ease-out 3s forwards;
            background-color: rgba(255, 255, 255, 0.15);
            border: 0;
            border-radius: 1em 1em 0 0;
            bottom: -3em;
            color: rgba(255, 255, 255, 0.75);
            display: block;
            height: 3em;
            left: 50%;
            margin-left: -1.5em;
            overflow: hidden;
            position: absolute;
            text-indent: 3em;
            white-space: nowrap;
            width: 3em;
            z-index: 2;
            border-radius: 100%;
            text-decoration: none;
        }

            #banner .more:before {
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-transform: none !important;
            }

            #banner .more:hover {
                background: none;
                color: rgba(255, 255, 255, 0.5);
                box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.5);
            }

                #banner .more:hover:before {
                    color: rgba(255, 255, 255, 0.5);
                }

            #banner .more:before {
                content: '\f107';
                color: #FFF;
                font-size: 2em;
                position: absolute;
                right: .425em;
                bottom: -.075em;
            }

        #banner:before {
            -moz-transition: opacity 3s ease;
            -webkit-transition: opacity 3s ease;
            -ms-transition: opacity 3s ease;
            transition: opacity 3s ease;
            -moz-transition-delay: 1.25s;
            -webkit-transition-delay: 1.25s;
            -ms-transition-delay: 1.25s;
            transition-delay: 1.25s;
            content: '';
            display: block;
            background-color: #000;
            height: 100%;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        @media screen and (max-width: 980px) {

            #banner {
                font-size: .85em;
            }

                #banner br {
                    display: none;
                }

        }

        @media screen and (max-width: 736px) {

            #banner {
                background-attachment: scroll;
                min-height: 0;
                padding: 8em 2em 4em 2em;
            }

                #banner h1 {
                    font-size: 6em;
                }

        }

        @media screen and (max-width: 480px) {

            #banner h1 {
                font-size: 4em;
            }

            #banner .more {
                display: none;
            }

        }

        body.is-loading #banner:before {
            opacity: 1;
        }

/* Banner */
/*HEADER AND NAVBAR*/
.site-header {
    position: relative;
    z-index: 9;
}

.site-header.collapsed-nav {
    position: absolute;
    width: 100%;
    left: 0;
}

.header-bar {
    background: #000000;
    background: -webkit-linear-gradient(to bottom, #434343, #000000);
    background: linear-gradient(to bottom, #434343, #000000);
    position: fixed;
    width: 100%;
}

.header-bar:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}

.branding {
    float: left;
    padding: 10px 15px;
}

.branding .logo, .branding .logo-type {
    display: inline-block;
    vertical-align: middle;
}

.branding .logo {
    margin-right: 10px;
}

.branding .logo-type .site-title {
    margin: 0 0 5px;
    margin-top: 5%;
    font-size: 16px;
    font-size: 2em;
}

.main-navigation {
    *zoom: 1;
    float: right;
}

.main-navigation:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}

.main-navigation .menu-toggle {
    display: inline-block;
    vertical-align: middle;
    background: none;
    border: none;
    font-size: 20px;
    font-size: 1.3333333333em;
    color: #8e9ca5;
    outline: none;
    display: none;
    padding: 20px;
}

.main-navigation .menu-toggle:hover, .main-navigation .menu-toggle:active {
    color: #69acc7;
}

@media screen and (max-width: 990px) {
    .main-navigation .menu-toggle {
        display: block;
    }
}

.main-navigation .menu {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    *zoom: 1;
}

.main-navigation .menu:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}

@media screen and (max-width: 990px) {
    .main-navigation .menu {
        display: none;
    }
}

.main-navigation .menu .menu-item {
    float: left;
}

.main-navigation .menu .menu-item a {
    font-size: 13px;
    font-size: 0.966666667em;
    text-transform: uppercase;
    font-weight: 400;
    padding: 32px 30px 5px;
    display: block;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    line-height: normal;
}

.main-navigation .menu .menu-item.current-menu-item a, .main-navigation .menu .menu-item:hover a {
    color: #69acc7;
}

@media screen and (min-width: 991px) {
    .mobile-navigation {
        display: none !important;
    }
}

.mobile-navigation .menu {
    border-radius: 5px;
    background: #edf2f4;
    list-style: none;
}

.mobile-navigation .menu a {
    color: #8e9ca5;
    padding: 15px 20px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.mobile-navigation .menu a:hover, .mobile-navigation .menu a:active {
    background: #c6dfea;
    color: white;
}

.mobile-navigation .menu .menu-item {
    border-bottom: 1px solid white;
}

.mobile-navigation .menu .menu-item:last-child {
    border-bottom: none;
} */



/*IMAGE SLIDES*/
.hero {
    position: relative;
    *zoom: 1;
}

.hero:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}



.hero .slide-content {
    text-align: center;
    padding-top: 300px;
    color: white;
    width: 80%;
    margin: 0 auto;
}

.hero .slide-content .slide-title {
    font-size: 60px;
    font-size: 6em;
    font-weight: 300;
    text-shadow: 3px 3px #000;
}

.hero .slide-content p {
    font-size: 24px;
    font-size: 1.6em;
}

.hero .slide-content .button, .hero .slide-content form input[type="submit"], form .hero .slide-content input[type="submit"], .hero .slide-content form button, form .hero .slide-content button, .hero .slide-content form input[type="reset"], form .hero .slide-content input[type="reset"] {
    font-size: 20px;
    font-size: 1.3333333333em;
}

.hero .flex-control-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 8;
    text-align: center;
}

.hero .flex-control-nav li {
  display: inline-block;
  margin: 30px 5px;
}

.hero .flex-control-nav li a {
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    position: relative;
    cursor: pointer;
}

.hero .flex-control-nav li a:before {
    content: " ";
    width: 17px;
    height: 17px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #69acc7;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.hero .flex-control-nav li a.flex-active:before, .hero .flex-control-nav li a:hover:before {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
 .container {
    min-width: 992px !important;
  }
/* CONTAINER */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1;
}

.container:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1;
}

.container-fluid:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}

/* BUTTON */
.button, form input[type="submit"], form button, form input[type="reset"] {
    background: #e7edf1;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    color: #8e9ca5;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.button.back, form input.back[type="submit"], form button.back, form input.back[type="reset"] {
    margin-bottom: 30px;
}

.button img, form input[type="submit"] img, form button img, form input[type="reset"] img {
    margin-right: 10px;
}

.button:hover, form input[type="submit"]:hover, form button:hover, form input[type="reset"]:hover {
    box-shadow: inset 0 0 100px #69acc7;
    color: white;
}

.button.white, form input.white[type="submit"], form button.white, form input.white[type="reset"] {
    background: white;
}


/* Catarory Page */
.section-title {
    font-size: 30px;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 30px;
    color: black;
}


.feature {
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #e1e8ec;
    border-radius: 10px;
    padding: 30px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    color:white;
    text-shadow: 2px 2px rgb(0,0,0);
    font-size:18px;
}
.phylum-background1{
    background-image: url("../images/Porifera2.jpg");
}
.phylum-background2{
    background-image: url("../images/jellyfish4.jpg");
}
.phylum-background3{
    background-image: url("../images/Platyhelminthes2.jpg");
}
.phylum-background4{
    background-image: url("../images/Nematoda2.jpg");
}
.phylum-background5{
    background-image: url("../images/Annelida2.jpg");
}
.phylum-background6{
    background-image: url("../images/Arthropoda2.jpg");
}
.phylum-background7{
    background-image: url("../images/Mollusca2.jpg");
}
.phylum-background8{
    background-image: url("../images/Echinodermata2.png");
}
.phylum-background9{
    background-image: url("../images/Chordata2.jpg");
}
.feature .frame{
    background: rgba(0, 0, 0, 0.5);
}
.feature .button{
    color:black;
    text-shadow: none;
    margin-bottom: 10px;
}
.feature .feature-image {
    margin-bottom: 20px;
}

.feature .feature-title {
    font-size: 30px;
    font-size: 2em;
    font-weight: 300;
}

.feature p {
    font-size: 16px;
    font-size: 1.0666666667em;
    margin-bottom: 30px;
}

.post {
    position: relative;
    margin-bottom: 30px;
}

.post .featured-image {
    margin-bottom: 20px;
}

.post .featured-image img {
    max-width: 100%;
    border-radius: 5px;
    width: 100%;
    height: auto;
    display: block;
}

.post .entry-title {
    font-size: 24px;
    font-size: 1.6em;
    font-weight: 300;
    margin: 0 0 10px;
}

.post .date {
    display: block;
    margin-bottom: 30px;
    font-size: 11px;
    font-size: 0.7333333333em;
}

.post:after {
    content: " ";
    display: block;
    margin-top: 30px;
    width: 22px;
    height: 11px;
    background: url(images/arrow-long.png);
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}

.jumbotron-fluid {
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}

/* Row */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}


/* Content Properties */
.content{
    color: black;
}
.content span{
    color:#bfa600;
}


.content p{
    font-size: 22px;;
}

.intro{

   background: linear-gradient(to bottom right, #bfa600 0%, #ffffcc 100%);
    width: 100%;
    height: 70%;
    margin: 0px auto;
    padding: 30px;
    border-radius: 20px;
    color: black;
    text-align: center;
    margin-bottom: 15%;
}
.intro img{
     width: 100%;
     height: 100%;
}
.intro p{
    font-size:15px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: #69acc7;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size: 16px;
    font-size: 2em;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #69acc7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ABOUT US */
.card1 {
    box-shadow: 0 18px 38px 0 rgba(0, 0, 0, 0.5);
    max-width: 300px;
    margin: auto;
    text-align: center;

}

.title1 {
    color: black;
    font-size: 18px;
}

.title2 {
    color: black;
    font-size: 15px;
    padding: 1%;
}

.card1 button {
    border: none;
    outline: 0;
    padding: 12px;
    color: black;
    /* background-color: #000; */
   background: linear-gradient(to bottom right, #bfa600 0%, #ffffcc 100%);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family: 'Maitree', serif;
}

.card1 button:hover {
    opacity: 0.7;
}
/* fade*/
.hide {
  opacity:0;
}
/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}
.row4, .row4 a{color:#CBCBCB; background-color:#191919;text-align: center;}