/*STRUCTURE CONTENT*/
html {
    font-size: 15px;
    font-family: 'Athiti', sans-serif;
    background: #fff;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    color: #8e9ca5;
    font-family: 'Athiti', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    /*background-color: #000;*/
    background: #FDFC47;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to top, #24FE41, #FDFC47);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to top, #24FE41, #FDFC47); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(to right, #0f7282, #006d70, #006755, #005f35, #00550b);
}

div {
    display: block;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* html {
  font-size: 15px; } */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
  }

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0 0 20px;
    line-height: normal;
}

hr {
    border: none;
    border-bottom: 1px solid #777;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #69acc7;
}

address {
    font-style: normal;
}

p {
    margin-top: 0;
}

/*HEADER AND NAVBAR*/
.site-header {
    position: relative;
    z-index: 9;
}

.site-header.collapsed-nav {
    position: absolute;
    /*top: 50px;*/
    width: 100%;
    left: 0;
}

.header-bar {
    /**zoom: 1;*/
    background: black;
    /*border-radius: 5px;*/
}

.header-bar:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}

.branding {
    float: left;
    padding: 15px;
}

.branding .logo, .branding .logo-type {
    display: inline-block;
    vertical-align: middle;
}

.branding .logo {
    margin-right: 10px;
}

.branding .logo-type .site-title {
    margin: 0 0 5px;
    margin-top: 5%;
    font-size: 16px;
    font-size: 2em;
}

/*.branding .logo-type .site-description {
    font-size: 12px;
    font-size: 0.8em;
}*/

.main-navigation {
    *zoom: 1;
    float: right;
}

.main-navigation:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}

.main-navigation .menu-toggle {
    display: inline-block;
    vertical-align: middle;
    background: none;
    border: none;
    font-size: 20px;
    font-size: 1.3333333333em;
    color: #8e9ca5;
    outline: none;
    display: none;
    padding: 20px;
}

.main-navigation .menu-toggle:hover, .main-navigation .menu-toggle:active {
    color: #69acc7;
}

@media screen and (max-width: 990px) {
    .main-navigation .menu-toggle {
        display: block;
    }
}

.main-navigation .menu {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    *zoom: 1;
}

.main-navigation .menu:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}

@media screen and (max-width: 990px) {
    .main-navigation .menu {
        display: none;
    }
}

.main-navigation .menu .menu-item {
    float: left;
}

.main-navigation .menu .menu-item.home a {
    padding: 28px 30px 31px;
}

.main-navigation .menu .menu-item a {
    font-size: 13px;
    font-size: 0.8666666667em;
    text-transform: uppercase;
    font-weight: 400;
    padding: 32px 20px;
    display: block;
    color: #8e9ca5;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    border-bottom: 2px solid transparent;
    line-height: normal;
}

.main-navigation .menu .menu-item.current-menu-item a, .main-navigation .menu .menu-item:hover a {
    color: #69acc7;
    border-bottom: 2px solid #69acc7;
}

/* .mobile-navigation {
    padding: 30px;
    clear: both;
    display: none;
}

@media screen and (min-width: 991px) {
    .mobile-navigation {
        display: none !important;
    }
}

.mobile-navigation .menu {
    border-radius: 5px;
    background: #edf2f4;
    list-style: none;
}

.mobile-navigation .menu a {
    color: #8e9ca5;
    padding: 15px 20px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.mobile-navigation .menu a:hover, .mobile-navigation .menu a:active {
    background: #c6dfea;
    color: white;
}

.mobile-navigation .menu .menu-item {
    border-bottom: 1px solid white;
}

.mobile-navigation .menu .menu-item:last-child {
    border-bottom: none;
} */



/*IMAGE SLIDES*/
.hero {
    position: relative;
    *zoom: 1;
}

.hero:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}

.hero .slides {
    list-style: none;
    *zoom: 1;
}

.hero .slides:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}

.hero .slides li {
    width: 100%;
    margin-right: -100%;
    float: left;
    min-height: 753px !important;
    padding-bottom: 100px;
    background-size: cover;
}

.hero .slides .bg-cover1 {
  background-image: url("https://9fc6ff.medialib.edu.glogster.com/UHb4LGETYREGvVMDDkdh/media/a4/a4aee882dc171ecd38f86e47ef9b9cc3e476f38c/octopus.jpg");
}
.hero .slides .bg-cover2 {
  background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2015/11/28/844809/b0b19945ac809d4fae253cc3872e494e.jpg");
}
.hero .slides .bg-cover3 {
  background-image: url("http://biodiversitybasics.files.wordpress.com/2014/03/ants.jpg");
}
.hero .slides .bg-cover4 {
  background-image: url("https://i.pinimg.com/originals/0a/82/1b/0a821b907790ba010080ce47b69960da.jpg");
}
.hero .slides .bg-cover5 {
  background-image: url("https://images.discerningassets.com/image/upload/c_fit,h_1000,w_1000/c_fit,fl_relative,h_1.0,o_100,w_1.0/v1452997901/030989_Matthew_Meier_xsmw0u.jpg");
}
.hero .slides .bg-cover6 {
  background-image: url("https://photos.simonilett.com/wp-content/uploads/2016/11/nudibranch-hypselodoris-pulchella-simon-ilett-underwater-photography-1920x1080.jpg");
  /*opacity: 0.5 !important;*/
}
.hero .slides .bg-cover7 {
  background-image: url("https://i1.wp.com/inovabioedu.com.br/wp-content/uploads/2017/02/666924.jpg?fit=1920%2C1080");
}
.hero .slides .bg-cover8 {
  background-image: url("https://s.newsweek.com/sites/www.newsweek.com/files/styles/feature/public/2014/09/25/starfish.png");
}
.hero .slides .bg-cover9 {
  background-image: url("https://sites.google.com/site/bioppk/_/rsrc/1472680087853/home/xanacakr-satw/fi-lamne-ma-tho-da-phylum-nematoda/Nematoda2.jpg?height=1301&amp;width=1609");
}

.hero .slide-content {
    text-align: center;
    padding-top: 300px;
    color: white;
    width: 80%;
    margin: 0 auto;
}

.hero .slide-content .slide-title {
    font-size: 60px;
    font-size: 6em;
    font-weight: 300;
    text-shadow: 3px 3px #000;
    /*opacity: 0.8 !important;*/
}

.hero .slide-content p {
    font-size: 24px;
    font-size: 1.6em;
}

.hero .slide-content .button, .hero .slide-content form input[type="submit"], form .hero .slide-content input[type="submit"], .hero .slide-content form button, form .hero .slide-content button, .hero .slide-content form input[type="reset"], form .hero .slide-content input[type="reset"] {
    font-size: 20px;
    font-size: 1.3333333333em;
}

.hero .flex-control-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 8;
    text-align: center;
}

.hero .flex-control-nav li {
display: inline-block;
margin: 30px 5px;
}

.hero .flex-control-nav li a {
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
    position: relative;
    cursor: pointer;
}

.hero .flex-control-nav li a:before {
    content: " ";
    width: 17px;
    height: 17px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #69acc7;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.hero .flex-control-nav li a.flex-active:before, .hero .flex-control-nav li a:hover:before {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/* CONTAINER */

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1;
}

.container:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1;
}

.container-fluid:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}

/* BUTTON */

.button, form input[type="submit"], form button, form input[type="reset"] {
    background: #e7edf1;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    color: #8e9ca5;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.button.back, form input.back[type="submit"], form button.back, form input.back[type="reset"] {
    margin-bottom: 30px;
}

.button img, form input[type="submit"] img, form button img, form input[type="reset"] img {
    margin-right: 10px;
}

.button:hover, form input[type="submit"]:hover, form button:hover, form input[type="reset"]:hover {
    box-shadow: inset 0 0 100px #69acc7;
    color: white;
}

.button.white, form input.white[type="submit"], form button.white, form input.white[type="reset"] {
    background: white;
}


/* Catarory Page */

.section-title {
    font-size: 30px;
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 30px;
    color: black;
    /*text-shadow: 5px 5px #000000;*/
}


.fullwidth-block {
    padding: 50px 0;
}

.fullwidth-block-2 {
    padding: 50px 0;
    background-color: #fff;    
}

.feature {
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #e1e8ec;
    border-radius: 10px;
    padding: 30px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
    color:white;
    text-shadow: 2px 2px rgb(0,0,0);
    font-size:18px;
}
.phylum-background1{
    background-image: url("https://images.slideplayer.com/23/6677217/slides/slide_3.jpg");
}
.phylum-background2{
    background-image: url("https://a-z-animals.com/media/animals/images/original/jellyfish4.jpg");
}
.phylum-background3{
    background-image: url("http://www.starfish.ch/Fotos/worms-Wuermer/plathelminthes-Plattwurm/Pseudobiceros-gloriosus3.jpg");
}
.phylum-background4{
    background-image: url("http://photos1.blogger.com/blogger2/4255/902/400/IMGP3384.jpg");
}
.phylum-background5{
    background-image: url("https://www.thefix.com/sites/default/files/styles/article/public/earthworm%20on%20leaf.jpg");
}
.phylum-background6{
    background-image: url("https://www.natgeokids.com/wp-content/uploads/2017/05/scorpion-facts-3.jpg");
}
.phylum-background7{
    background-image: url("https://www.weet-magazine.nl/wp-content/uploads/2016/07/snail-1124028_960_720-660x400.jpg");
}
.phylum-background8{
    background-image: url("http://www.untamedscience.com/science/wp-content/uploads/2013/11/Screen-Shot-2013-11-03-at-7.07.10-PM.png");
}
.phylum-background9{
    background-image: url("https://vignette.wikia.nocookie.net/cats/images/e/ef/African_lion_king-wide.jpg/revision/latest?cb=20131126052253&path-prefix=en");
}
.feature .frame{
    background: rgba(0, 0, 0, 0.5);
}
.feature .button{
    color:black;
    text-shadow: none;
    margin-bottom: 10px;
}
.feature .feature-image {
    margin-bottom: 20px;
}

.feature .feature-title {
    font-size: 30px;
    font-size: 2em;
    font-weight: 300;
}

.feature p {
    font-size: 16px;
    font-size: 1.0666666667em;
    margin-bottom: 30px;
}

.post {
    position: relative;
    margin-bottom: 30px;
}

.post .featured-image {
    margin-bottom: 20px;
}

.post .featured-image img {
    max-width: 100%;
    border-radius: 5px;
    width: 100%;
    height: auto;
    display: block;
}

.post .entry-title {
    font-size: 24px;
    font-size: 1.6em;
    font-weight: 300;
    margin: 0 0 10px;
}

.post .date {
    display: block;
    margin-bottom: 30px;
    font-size: 11px;
    font-size: 0.7333333333em;
}

.post:after {
    content: " ";
    display: block;
    margin-top: 30px;
    width: 22px;
    height: 11px;
    background: url(images/arrow-long.png);
}



/* Row */
.row {
    margin-left: 5%;
    *zoom: 1;
}

.row:after {
    content: " ";
    clear: both;
    display: block;
    overflow: hidden;
    height: 0;
}

.col-3 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-4 {
    width: 33.3333333333%;
}

.col-6 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media  {
    .col-3 {
        float: left;
        width: 30%;
    }

    .col-4 {
        float: left;
        width: 33.3333333333%;
    }
}

/* Content Properties */


.main-content .fullwidth-block .container .content-font p {
    font-size: 24px;
    color: #000;
}
.content{
    color: white;
    background-color: rgb(3, 47, 79);
    padding: 5%;
    border-radius: 20px;

}
.content2{
    background-color: rgb(3, 47, 79);
    /* padding: 5%; */
    border-radius: 20px;
}

.content p, .content ul{
    font-size: 25px;
}
.intro{
    background: bisque;
    width: 50%;
    height: 50%;
    margin: 10px auto;
    padding: 30px;
    border-radius: 20px;
    color: black;
    text-align: center;
}
.intro img{
     width: 100%;
     height: 100%;
}
.intro p{
    font-size:20px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    /*font-size: 25px;    */
    border: none;
    outline: none;
    color: #69acc7;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
        font-size: 16px;
    font-size: 2em;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #69acc7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*ABOUT US;    */
.card1 {
  box-shadow: 0 18px 38px 0 rgba(0, 0, 0, 0.5);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title1 {
  color: black;
  font-size: 18px;
}

.title2 {
  color: black;
  font-size: 15px;
}

.card1 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card1 button:hover {
  opacity: 0.7;
}